@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700&family=Open+Sans&family=Poppins&family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap'); */

* {
	font-family: 'Montserrat', sans-serif !important;
	box-sizing: border-box;
}

#body {
	position: relative;
}

main {
	margin: 20px 0;
}

.burgerActive {
	overflow: hidden;
}

.headerBurgerContent {
	display: none;
	position: absolute;

	background-color: #f4f4f4;
	z-index: 99;
	top: 0;
	width: 100vw;
	left: 0;
	padding: 10px 30px;
}

.headerBurgerContent > nav > ul > li {
	padding: 10px 20px;
	margin-right: 35px;
}

.burgerCloseBtn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	top: 12px;
	right: 12px;
}

.activeHeaderMenuItem {
	position: relative;
	color: #fc8080;
}

.activeHeaderMenuItem::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fc8080;
	width: 2px;
	animation: heightIn ease-in-out 0.3s forwards;
}

@keyframes heightIn {
	from {
		height: 0;
	}
	to {
		height: 100%;
	}
}
